# Bower configuration file.
#
# This file belongs in ~/.config/bower/bower.conf or
# $XDG_CONFIG_DIRS/bower/bower.conf, where $XDG_CONFIG_DIRS
# is defined by the XDG Base Directory Specification.
#
# The lines beginning with '#' or ';' are treated as comment lines.

# Values representing shell commands use shell-style quoting rules:
#
# - within single quotes, all characters represent themselves
# - within double quotes, all characters represent themselves except for
#   backslash which escapes the next character
# - outside of quotes, backslash escapes the next character
# - no escape sequences are supported, i.e. "\n" is the same as "n".
#
# If the first word of a command contains the unquoted and unescaped
# string "ssh" then an additional level of shell quoting will be applied
# to any arguments that bower adds to the command.

#-----------------------------------------------------------------------------#

[command]

    # How to run notmuch.
    # Set this if notmuch is not already on your PATH.
    #
    # I run bower locally but keep my mail and notmuch on a remote machine,
    # accessed via ssh.  For that, you may like to enable the OpenSSH
    # ControlMaster option, and also set ControlPersist to greater than 60
    # seconds (or your selected polling period).
    #
  ; notmuch = ssh user@host /remote/notmuch

    # How to edit a message.
    # The default is to use $EDITOR, or else "vi".
    #
  ; editor = vim '+set ft=mail'

    # Default command to open a part.
    # An unquoted & suffix causes the command to run in the background.
    #
  ; open_part = xdg-open&

    # Default command to open a URL.
    # An unquoted & suffix causes the command to run in the background.
    #
  ; open_url = xdg-open&

    # Default command to pass thread or message IDs to using the '|' command.
    # The command should read from standard input. Multiple IDs are separated
    # by spaces.
    #
  ; pipe_id = xclip

    # Command to execute after polling finds there are new unread messages
    # matching the current search terms in the index view.
    # The notification message is provided as an argument.
    #
  ; poll_notify = notify-send -i mail-message-new -c email.arrived -a Bower Bower

    # These keys are deprecated and should be moved to an [account.*] section.
    #
  ; sendmail =
  ; post_sendmail =

#-----------------------------------------------------------------------------#

# How to convert non-text parts to text using external commands.
# Each command should take input on standard input and output UTF-8.

[filter]

    # HTML is formatted using this command by default.
    # Set the value to an empty string to disable.
    #
  ; text/html = lynx -dump -force-html -stdin -display-charset=utf-8

    # You can specify commands to filter other media types.
    # The following examples are not enabled by default.
    #
  ; application/pdf = pdftotext - -

#-----------------------------------------------------------------------------#

# How to send mail for one or more email accounts.
# Each account is defined in a section called [account.NAME] where NAME is some
# short name of your choosing.

[account.default]

    # An account is selected by matching the From address on the message to
    # from_address value. Defaults to the combination of user.name and
    # user.primary_email from .notmuch-config.
    #
  ; from_address = My Name <user@example.org>

    # One account can be designated as the default account.
    #
  ; default = true

    # How to send a message from this account.
    # The default is to use sendmail but I use msmtp.
    # The command should understand the "-t" option to read recipients
    # from the message headers itself.
    #
  ; sendmail = /usr/bin/sendmail -oi -oem
  ; sendmail = /usr/bin/msmtp

    # Command to execute after the sendmail command is successful.
    # The default is to use "notmuch insert" to add the sent message to the
    # maildir (see README.md for the folder). You can override the command
    # or disable it by setting it to the empty string.
    #
  ; post_sendmail =

; [account.work]
;   from_address = My Name <user@work.example.org>
;   sendmail = /usr/bin/msmtp --account=work
;   post_sendmail =

#-----------------------------------------------------------------------------#

[ui]

    # How often to check for new messages matching the current search
    # terms in the index view, or new messages in the current thread
    # in the thread view. Disable with "off".
    #
  ; poll_period_secs = 60

    # Wrap lines in message bodies at this column, if the terminal is wider.
    #
  ; wrap_width =

#-----------------------------------------------------------------------------#

[crypto]

    # Enable encryption by default when composing messages.
    #
  ; encrypt_by_default = false

    # Enable signing by default when composing messages.
    #
  ; sign_by_default = false

    # Attempt to decrypt messages when a thread is opened.
    #
  ; decrypt_by_default = false

    # Attempt to verify signatures when a thread is opened.
    #
  ; verify_by_default = false

#-----------------------------------------------------------------------------#

# Colours are defined in the [color] and [color.CONTEXT] sections.
# The more-specific sections override keys in the generic section.
#
# Each value has the form:
#   [attribute] [foreground] [/ background]
#
# attribute may be:
#   normal, bold
#
# foreground and background may be:
#   default, black, red, green, yellow, blue, magenta, cyan, white

[color]
  ; current = bold yellow / red
  ; relative_date = bold blue
  ; selected = bold magenta
  ; standard_tag = normal
  ; flagged = bold red
  ; author = normal
  ; subject = normal
  ; other_tag = bold red
  ; field_name = bold red
  ; field_body = normal
  ; good_key = bold green
  ; bad_key = bold red

[color.status]
  ; bar = white / blue
  ; info = bold cyan
  ; warning = bold red
  ; prompt = normal

[color.pager]
  ; body = normal
  ; quote_odd = bold blue
  ; quote_even = green
  ; diff_common = normal
  ; diff_add = bold cyan
  ; diff_rem = bold red
  ; diff_hunk = bold yellow
  ; diff_index = bold green
  ; url = magenta
  ; part_head = bold magenta
  ; part_head_low = magenta
  ; part_message = magenta
  ; fold = magenta
  ; separator = bold blue

[color.index]
  ; count = green

[color.thread]
  ; tree = magenta
  ; author = normal
  ; subject = green

[color.compose]
  ; address = bold blue
  ; invalid = red

#-----------------------------------------------------------------------------#
